@font-face {
  font-family: 'Monoid';
  font-weight: 400;
  line-height: 1.7;
  src: url('https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/Monoid/Retina/complete/Monoid%20Retina%20Nerd%20Font%20Complete%20Mono.ttf') format('truetype');
}
