@font-face {
  font-family: 'Nerd Font Meslo';
  font-weight: 400;
  src: url('https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/Meslo/L-DZ/complete/Meslo%20LG%20L%20DZ%20Regular%20Nerd%20Font%20Complete%20Mono.otf') format('opentype');
}
